# Node modules
node_modules/

# Playwright test results and reports
test-results/
playwright-report/

# Log files
*.log

# OS or editor-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# IDE settings
.idea/
.vscode/

# Playwright traces and screenshots
*.zip
*.webm
screenshots/
videos/
traces/
